@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

body {
  font-size: 100%;
  background-image: url(../images/CLIPBOARD.jpg);
  background-repeat: no-repeat;
  font-family: 'Comic Neue', cursive;
  position: relative;
}

.boardtic {
  height: 600px;
  width: 600px;
  background-color: gray, 1;
  font-family: 'Comic Neue', cursive;
  font-size: 100px;
  color: brown;
  text-align: center;
  margin-left: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
}

.cell {
  flex-basis: 33%;
  height: 10vh;
}

.cell:nth-of-type(5) {
  border: 5px solid;
}

.cell:nth-of-type(2),
.cell:nth-of-type(8) {
  border-left: 5px solid;
  border-right: 5px solid;
}

.cell:nth-of-type(4),
.cell:nth-of-type(6) {
  border-top: 5px solid;
  border-bottom: 5px solid;
}

h1 {
  font-size: 100px;
  margin-left: 440px;
  padding-top: 405px;
}

h2 {
  font-size: 75px;
  font-weight: bold;
  color: brown;
  margin-top: 100px;
}
dt {
  font-size: 50px;
  font-weight: bold;
  color: rgb(184, 112, 5);
}
dd {
  font-size: 45px;
  font-weight: bold;
  color: rgb(184, 112, 5);
  margin-left: 70px;
  margin-top: 10px;
}
button {
  font-size: 50px;
  background-color: burlywood;
  color: brown;
  border-color: brown;
  border-radius: 50px;
  /* margin-top: 13px; */
  margin-left: 1200px;
}

.score {
  margin-top: -595px;
  margin-left: 255px;
}

.boardtic aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

.boardtic aside button {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}

.boardtic aside h2 {
  font-size: 5rem;
}

.boardtic aside p {
  font-size: 10rem;
  font-weight: bold;
  margin-top: 10px;
}

.boardtic.winner aside {
  display: block;
}
