@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

body {
  font-size: 100%;
  background-image: url(../images/CLIPBOARD.jpg);
  background-repeat: no-repeat;
  font-family: 'Comic Neue', cursive;
}

.boardtic {
  height: 600px;
  width: 600px;
  background-color: gray, 1;
  font-family: 'Comic Neue', cursive;
  font-size: 100px;
  color: brown;
  text-align: center;
  margin-left: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
}

.cell {
  border: 1px solid;
  flex-basis: 33%;
  height: 10vh;
}
/* .boardtic .row {
  height: 200px;
}

.boardtic .row:not(:last-child) {
  border-bottom: 5px solid rgb(184, 112, 5);
}

.boardtic .row .cell {
  width: 200px;
  height: 200px;
  float: left;
  padding: 50px;
}

.boardtic .row .cell:not(:last-child) {
  border-right: 5px solid rgb(184, 112, 5);
} */

h1 {
  font-size: 100px;
  margin-left: 440px;
  padding-top: 405px;
}

button {
  font-size: 50px;
  background-color: burlywood;
  color: brown;
  border-color: brown;
  border-radius: 50px;
  margin-top: -200px;
  margin-left: 1200px;
}

.boardtic aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

.boardtic aside button {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.boardtic aside h2 {
  font-size: 1.75rem;
}

.boardtic aside p {
  font-size: 2rem;
  font-weight: bold;
}

.boardtic.winner aside {
  display: block;
}
